<ion-header class="ion-hide" mode="md">
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <div class="game-contents">
    <div class="status">
      <div class="time">
        <p></p>
      </div>
      <div class="no"><p></p></div>
    </div>
    <div class="quest-and-answer">
      <div class="quest color"></div>
      <div class="answer color"><div class="sf">正解！</div></div>
    </div>
    <p class="text">2色を混ぜて目標の色を作ろう</p>
    <div class="container">
      <div class="col">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
      <div class="col">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
      <div class="col">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
      <div class="col">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
      <div class="col">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
    </div>
  </div>
</ion-content>
