<ion-header class="ion-border" mode="md">
  <ion-toolbar>
    <ion-title>ふりかえり</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="review-window">
    <div class="question" *ngFor="let quest of review;">
      <div class="qnumber">{{quest['qno']}}</div>
      <div class="color" [style.background-color]="quest['question']"></div>
      <div class="color" [style.background-color]="quest['answer1']"></div>
      <div class="color" [style.background-color]="quest['answer2']"></div>
      <div class="laptime">{{quest['rapTime']}}</div>
      <div class="revisit">
        要復習<ion-checkbox value="!quest['revisit']"></ion-checkbox>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="btn" routerLink="/result">リザルトへ</ion-button>
  </ion-toolbar>
</ion-footer>
