<ion-header class="ion-hide" mode="md">
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <div class="game-contents" appSpy>
    <div class="status">
      <div class="time" *ngIf="counter">{{timer}}</div>
      <div class="no">
        <div class="now">{{qno}}</div>
        /10　問目
      </div>
    </div>
    <div class="quest-and-answer">
      <div class="quest color" [style.background-color]="question"></div>
      <div class="answer color" [style.background-color]="answer">
        <div class="sf" [style.color]="sf_color">{{correctOrIncorrect}}</div>
      </div>
    </div>
    <p class="text">2色を混ぜて目標の色を作ろう</p>
    <div class="container">
      <div
        class="col"
        *ngFor="let c of r | times; let y = index;"
        (click)="selectColorY(y)"
      >
        <div
          class="color"
          *ngFor="let r of 5| times; let x = index;"
          (click)="selectColorX(x)"
          [class.selected]="x === tempX && y === tempY && selectedOptions[tempY][tempX]"
          [style.background-color]="visibleOptions[y*5+x]"
        ></div>
      </div>
    </div>
  </div>
</ion-content>
