<ion-header class="ion-border" mode="md">
  <ion-toolbar>
    <ion-title>ランキング</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ranking">
    <div class="user" *ngFor="let rankinUser of rankings;">
      <div class="user-rank">{{rankinUser.rank}}</div>
      <div class="user-name">{{rankinUser.name}}</div>
      <div class="user-time">{{rankinUser.time}}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="btn" routerLink="/home">タイトルへ</ion-button>
  </ion-toolbar>
</ion-footer>
