<ion-header class="ion-border" mode="md">
  <ion-toolbar>
    <ion-title>復習問題 <ion-badge>3</ion-badge></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="revisit-list">
    <div class="question" (click)="gotoRevisitGame()">
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="revisit"><ion-badge color="secondary">3</ion-badge></div>
    </div>
    <div class="question">
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="revisit"><ion-badge color="secondary">3</ion-badge></div>
    </div>
    <div class="question">
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="revisit"><ion-badge color="secondary">3</ion-badge></div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="btn" routerLink="/home">タイトルへ</ion-button>
  </ion-toolbar>
</ion-footer>
